<html>
<head><meta name='viewport' content='initial-scale=1.0, user-scalable=no' ></head>
<body style='margin:0;width=100%;height:100%'>
	<div style="max-width:100%;font-size:100%;">
		<div style='margin:0;border:0px solid #ebebeb;position:relative;overflow:hidden;'>
			<a target="_blank" href={{.ClickUrl}} style="text-decoration:none;display:block;line-height:0; " extra="{'act':{{.InteractionType}},'pkg':'{{.Package}}','title':'{{.Appname}}}','adid':'{{.Adid}}''}">
				<img src={{.ImageUrl}} style="width:100%;height:100%">
			</a>
			{{range .ImpressionUrl}}
			<img src={{.}} style="display:none">
			{{end}}
		</div>
	</div>
</body>
</html>


